<div>
 

  <!-- Main page content -->
  <main>

      <mat-toolbar class="menu" role="header" color="primary">
          <mat-toolbar-row>
            <button mat-button class="toolbar__icon-button mat-button">
              <mat-icon>web</mat-icon>
              <span style="margin-left: 5px !important;">Node Quiz</span>
            </button>
            <button mat-button class="mat-button" [routerLink]="['/dashboard']">
              Dashboard
            </button>
            <button mat-button class="mat-button" [routerLink]="['/dashboard/cumulative-summary']">
              Cumulative Summary
            </button>
      
            <div fxFlex></div>
      
            <!-- User Profile -->
            <button mat-button class="mat-button" (click)="logout()">
              Logout
            </button>
            
          </mat-toolbar-row>
        </mat-toolbar>
    
    <router-outlet></router-outlet>


  </main>
</div>
