<div style="width: 80%; margin-top: 2%; margin:0 auto;" fxLayout="column">
  <mat-card class="mat-elevation-z8" *ngIf="quiz">
      <mat-card-title style="text-align:center" ><h1>{{quiz.quizName}}</h1></mat-card-title>
      <mat-card-content>

          <div *ngIf="summaries">
              <br><br><br>
                  <table style="width:85%; margin:0 auto;">
                      <tr>
                        <th>Employee ID</th>
                        <th>Quiz ID</th>
                        <th>Quiz Name</th>
                        <th>Date Taken</th>
                        <th>Score</th>
                      </tr>
                      <tr *ngFor="let summary of summaries;">
                        <td>{{summary.employeeId}}</td>
                        <td>{{summary.quizId}}</td>
                        <td>{{summary.quizName}}</td>
                        <td>{{summary.dateTaken}}</td>
                        <td>{{summary.score}}</td>
                      </tr>
                  </table>

              </div>


      </mat-card-content>
  </mat-card>
</div>




